<h1>hello Rails !</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<p>It is : <%= @time.strftime "%R:%S" %> </p>
<a href="/say/goodbye">test</a>
<%= link_to "Rails generated link", say_goodbye_path %>